<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавление команды</title>
        <form method="post">
            {% csrf_token %}
            {{ form.title }} <br><br>
            {{ form.city }}<br><br>
            <span>{{ error }}</span>
           <!-- {{ form.color }}<br><br>    Добавить позже поля
            {{ form.url }}  -->
            <button>Добавить команду</button>
        </form>
</head>
<body>

</body>
</html>